name: build-and-deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  # BASE_URL determines the website is served from, including CSS & JS assets
  BASE_URL: /${{ github.event.repository.name }}
  NODE_OPTIONS: '--max-old-space-size=8192'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  build-and-deploy-book:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Setup Pages
      uses: actions/configure-pages@v3

    # Set up Node.js for building myst-theme
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: myst-theme/package-lock.json
    - name: Build myst-theme
      run: |
        cd myst-theme
        npm ci
        npm run build
        cd themes/book
        npm run prod:build

    # Install dependencies
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: 'pip'
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    # Build the book
    - name: Build the book
      run: |
        jupyter-book build --html
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: './_build/html'
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
